@import '../Root.scss';

.listnotif{
    margin: 1% 2% 1% 2%;
    font-family: $font-sub;
}

.titlenotif{
    font-size: 2vw;
    font-weight: bold;
}
.body-pembayaran{
  font-family: $font-sub;
  font-size: 1.5vw;
}
.tombol-lihatdetail{
  font-size: 1.3vw;
}
.namabank-pembayaran{
  font-family: $font-sub;
  font-size: 1.6vw;
  font-weight: bold;
}

.title-modalpembayaran{
  font-family: $font-sub;
  font-size: 2vw;
  font-weight: bold;
}

  .titlepage {
    font-family: $font-header;
    font-size: 4vw;
    margin: 1% 2% 2% 2%;
  }

  .sectitle{
    font-family: $font-header;
    font-size: 2.1vw;
  }
