@import "../Root.scss";

#beli {
  @media screen and (min-width: $break-large) {
    .titlepage {
      font-size: 64px !important;
    }
  }

  @media screen and (min-width: $break-medium) {
    .titlepage {
      font-size: 48px;
    }
  }

  .titlepage {
    font-family: $font-header;
  }

  .custompagination {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
