@import '../Root.scss';

#cardtoko{
    font-family: $font-header;
}
.titletoko{
    font-family: $font-header;
    font-size: 28px;
    font-weight: 600;
    margin-left: 5%;
    
}
.liststok {
    font-family: $font-header;
    font-size: 15px;
    margin-left: 3%;
    margin-top: 3%;
    
}
.stoktoko{
    font-family: $font-header;
    font-size: 28px;
    font-weight: 300;
    font-size: 24px;
    margin-left: 3%;
    margin-bottom: 1%;
}
.listbarang{
    display: flex;
    justify-content: space-between;
    line-height: 0.7em;
}
.role-beli{
    text-align: center;
    font-size: 18px;
}