

.judulregister{
    font-size: 40px;
    margin: 3% 0 1% 0;
    font-weight: bold;
    text-align: center;
    font-family: 'Domine', serif;
}

.buttonmulti{
    display: flex;
    justify-content: space-between;
    margin: 0% 5% 2% 5%;
}

