@import "../Root.scss";

#detailtoko {
  @media screen and(min-width: $break-large) {
    .titlepage {
      font-size: 64px;
    }
  }

  @media screen and(min-width: $break-medium) {
    .titlepage {
      font-size: 48px;
    }
  }

  .titlepage {
    font-family: $font-header;
    color: $color-black;
    margin: 1% 2% 2% 2%
  }

  .buttongroupbeli {
    display: flex;
    justify-content: space-between;
    margin: 0% 2%;
    margin-top: auto;
  }
  .namatoko{
    font-family: $font-header;
    font-weight: bold;
    font-size: 2.5vw;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
  }
}
