@import "../Root.scss";

.title {
  font-family: $font-header;
  font-size: 64px;
  color: $color-black;
  margin-bottom: 1rem;
}

.button-text {
  margin-left: 12px;
}

.subtitle {
  font-family: $font-sub;
  font-weight: $font-sub-style;
  font-size: 32px;
  color: $color-black;
  margin-bottom: 0.5rem;
}

.table {
  font-size: 16px;
}

.ant-table-cell {
  font-size: 20px !important;
  font-weight: 500;
}

.ant-form-item-required {
  font-size: 20px !important;
}