@import "../Root.scss";

#laporan {
  @media screen and (min-width: $break-large) {
    .title {
      font-size: 64px !important;
    }

    .subtitle {
      font-size: 36px !important;
    }
  }

  @media screen and (min-width: $break-medium) {
    .title {
      font-size: 48px;
    }

    .subtitle {
      font-size: 32px;
    }
  }

  .title {
    font-family: $font-header;
    color: $color-black;
    margin-bottom: 1rem;
  }

  .button-text {
    font-family: $font-sub;
    margin-left: 12px;
  }

  .subtitle {
    font-family: $font-sub;
    font-weight: $font-sub-style;
    color: $color-black;
    margin-bottom: 0.5rem;
  }
}
