@import '../Root.scss';

.bodykasir{
    width: 80vw;
    height: 90vh;
    position: fixed;
    font-family: $font-header;
}

.kasir-left{
    width: 40vw;
    float: left;
    margin: 0px;
    height: 70vh;
    border-right: 3px solid black;
}

.kasir-right{
    width:40vw;
    height: 70vh;
    float: right;
}

.search-kasir{
    margin: 0% 3% 0% 5%;
}

.hr-kasir{
    height: 1px;
    border: 0;
    margin-right: 20%;
    border-top: 2px solid black;
    padding: 0;
    margin-top: 0%;
}

.hr-kasir-2{
    height: 1px;
    border: 0;
    border-top: 2px solid black;
    padding: 0;
    margin: 0% 0% 0% 0%;
}

.namabarang-kasir{
    font-size: 2vw;
    margin-top: 1%;
}

.beratbarang-kasir{
    font-size: 1.5vw;
    margin-top: 1%;

}

.form-kasir{
    font-size: 2vw;
    margin-top: 1%;
}

.listkasir{
    margin-left: 3%;
    margin-right: 10%;
}

.date-kasir{
    font-size: 1.5vw;
    margin-bottom: 1%;
}

.listbarang-kasir{
    margin-top: 1%;
}

.namabarang-transaksi{
    font-size: 1.5vw;
    margin-bottom: 1%;
}

.beratbarang-transaksi{
    font-size: 1.3vw;
}

.total-kasir{
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
    margin-bottom: 10%;
}

.modal-kasir{
    font-size: 1.5vw;
    font-family: $font-header;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.titlemodal-kasir{
    font-size: 2vw;
    font-weight: bold;
    font-family: $font-header;
    margin-bottom: 5%;
}

