@import "../Root.scss";

.subtitle {
  font-family: $font-sub;
  font-size: 36px;
}



.paragraph {
  font-size: 24px;
}

#highlight {
  font-size: 32px !important;
  font-weight: 500;
}

.buttonGroup {
  margin-top: 4rem;
  width: 96%;
}


