@import "../Root.scss";

#detailPembayaran {
  .subtitle {
    font-family: $font-sub;
    font-size: 36px;
  }

  .paragraph {
    font-size: 24px;
  }

  #highlight {
    font-size: 32px !important;
    font-weight: 500;
  }

  .radioButton {
    width: auto;
    height: auto;
    font-size: 32px;
    padding: 8px 16px;
    background-color: $color-white;
  }

  .radioButton:hover {
    border: 3px solid $color-primary;
    color: $color-primary;
  }

  .card{
    margin-bottom: 2rem;
  }

  .buttonGroup{
    margin-bottom: 2rem;
  }

  
}
