$color-gray: #f5f5f5;
$color-black: #272c30;
$color-primary: #1dc6c6;
$color-white: #ffffff;
$color-light-gray: #f8f9fa;

$font-header: "Domine", serif;
$font-sub: "Roboto", sans-serif;
$font-sub-style: 500;

//Constant (min)
$break-large: 1024px;
$break-medium: 768px;

//Font Size
$font-header-large: 64px;
$font-header-medium: 36px;
$font-header-small: 24px;

$font-sub-large: 48px;
$font-sub-medium: 32px;
$font-sub-small: 16px;

// @media screen and (min-width: $break-large) {
//   $font-head-size: 64px;
//   $font-sub-size: 48px;
//   $font-paragraph-size: 24px;
// }

// @media screen and (min-width: $break-medium) {
//     $font-head-size: 64px;
//   $font-sub-size: 48px;
//   $font-paragraph-size: 24px;
// }


