@import "../Root";

#lihatstok {
  @media screen and (min-width: $break-large) {
    .titlepage {
      font-size: 64px !important;
    }

    .sectitle {
      font-size: 36px !important;
    }
  }

  @media screen and (min-width: $break-medium) {
    .titlepage {
      font-size: 48px;
    }

    .sectitle {
      font-size: 32px;
    }
  }

  .contentpage {
    background-color: white;
  }
  .titlepage {
    font-family: $font-header;
    color: black;
  }

  .sectitle {
    font-family: $font-sub;
    font-weight: bold;
  }
  .tablestok {
    margin: 1% 2%;
  }
  .ant-table-wrapper {
    .ant-table-thead {
      background-color: blue;
      color: blueviolet;
    }
  }
}
