@import '../Root';

.contentpage{
    background-color: white;
}
.titlepage{
    font-family: $font-header;
    color: black;
    font-size: 52px;
    margin: 1% 2%;
    
}

.sectitle{
    font-family: $font-sub;
    font-size: $font-sub-medium;
    font-weight: bold;
    margin: 1% 2%;
}
.tablestok{
    margin: 1% 2%;
}
.ant-table-wrapper{
    .ant-table-thead{
    background-color: blue;
    color: blueviolet;
    }
}

