@import url('https://fonts.googleapis.com/css?family=Domine|Roboto:300,400,500,700&display=swap');
body{
  margin: 0px;
  padding: 0px;
}

:root{
  --color-gray:#F5F5F5;
  --color-black:#272C30;
  --color-primary:#1DC6C6;
  --color-white:#ffffff;

  --font-header: 'Domine', serif;
  --font-sub: 'Roboto', sans-serif;
  --font-sub-style:500;
  --font-paragraph:'Roboto', sans-serif;
  --fotn-paragraph-style:300;
}